@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Spartan";
  box-sizing: border-box;
  background-color: #070722;
  color: #fff;
  background-image: url("../assets/background-stars.svg");
  background-position: center;
  background-repeat: repeat;
}

h1 {
  cursor: pointer;
}

.active {
  background-color: red;
}

nav > ul {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
nav > ul li {
  text-decoration: none;
  list-style: none;
  float: right;
  line-height: 99px;
  color: #e4e4e4;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  padding: 0 12px;
}
nav > ul li:hover {
  color: #fff;
  background: red;
}
nav > ul h1 {
  line-height: 22px;
  font-family: "Antonio";
  font-weight: 500;
  font-size: 40px;
  color: #fff;
}

.astronaut {
  filter: drop-shadow(5px 5px 5px #222);
  max-width: 200px;
  position: absolute;
  transform: translate(0, 450px);
  animation: float 5000ms ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(0px, 450px);
  }
  25% {
    transform: translate(0px, 400px);
  }
  50% {
    transform: translate(-25px, 450px);
  }
  75% {
    transform: translate(25px, 400px);
  }
  100% {
    transform: translate(0px, 450px);
  }
}
#content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  opacity: 0;
  position: relative;
}
#content #image {
  width: 650px;
  height: 650px;
  border-radius: 50%;
  align-self: center;
}
#content #image-geology {
  position: absolute;
  background-size: 175px 200px;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-80px, 325px) rotate(-40deg);
}
#content #text {
  max-width: 500px;
  align-self: center;
  padding: 0 20px;
}
#content #planetName {
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Antonio";
}
#content #planetText1 {
  text-align: justify;
  padding: 10px 0;
}

#information {
  pointer-events: none;
}
#information h3 {
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid #fff;
  padding: 20px;
  font-size: 16px;
  pointer-events: all;
}
#information h3:hover {
  background: red;
}
#information span {
  color: rgba(255, 255, 255, 0.76);
  padding-right: 10px;
  pointer-events: none;
}

#facts {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  opacity: 0;
  margin-bottom: 6%;
}
#facts__val {
  border: 1px solid #fff;
  padding: 20px 40px;
}
#facts h4 {
  text-transform: uppercase;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.76);
}
#facts span {
  font-size: 20px;
}

@media only screen and (max-width: 1024px) {
  nav > ul {
    flex-flow: column wrap;
    margin-bottom: 8%;
  }
  nav > ul li {
    line-height: 44px;
    padding: 0 0;
    text-align: center;
  }
  nav > ul h1 {
    text-align: center;
  }

  #content {
    flex-flow: column wrap;
    padding: 0 20px;
  }
  #content #image {
    width: 250px;
    height: 250px;
  }
  #content #image-geology {
    position: absolute;
    background-size: 135px 160px;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: translate(35px, -150px) rotate(0deg);
  }
  #content #text {
    max-width: 40rem;
  }
  #content #planetName {
    font-size: 35px;
  }
  #content #planetText1 {
    padding: 4px 0;
  }

  #information h3 {
    padding: 14px;
    font-size: 14px;
  }

  #facts {
    flex-flow: column wrap;
    padding: 0 20px;
    display: block;
    margin: 6% auto;
  }
  #facts__val {
    border: 1px solid #fff;
    padding: 10px 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  #facts h4 {
    font-size: 14px;
    padding: 0 20px;
  }
  #facts span {
    font-size: 16px;
    align-self: center;
    padding: 0 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
