@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Spartan";
  box-sizing: border-box;
  background-color: hsl(240, 67%, 8%);
  color: #fff;
  background-image: url("../assets/background-stars.svg"); //starry background
  background-position: center;
  background-repeat: repeat;
}

h1 {
  cursor: pointer;
}

.active {
  background-color: red;
}
nav > ul {
  //background: red;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  li {
    text-decoration: none;
    list-style: none;
    float: right;
    line-height: 99px;
    color: rgb(228, 228, 228);
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    padding: 0 12px;
    &:hover {
      color: #fff;
      background: red;
    }
  }
  h1 {
    line-height: 22px;
    font-family: "Antonio";
    font-weight: 500;
    font-size: 40px;
    color: #fff;
  }
}

#content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  opacity: 0;
  position: relative;
  #image {
    width: 650px;
    height: 650px;
    border-radius: 50%;
    align-self: center;
  }
  #image-geology {
    position: absolute;
    background-size: 175px 200px;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-80px, 325px) rotate(-40deg);
  }
  #text {
    max-width: 500px;
    align-self: center;
    padding: 0 20px;
  }
  #planetName {
    text-transform: uppercase;
    font-size: 50px;
    font-family: "Antonio";
  }
  #planetText1 {
    text-align: justify;
    padding: 10px 0;
  }
}
#information {
  pointer-events: none;
  h3 {
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid #fff;
    padding: 20px;
    font-size: 16px;
    pointer-events: all;
    &:hover {
      background: red;
    }
  }
  span {
    color: rgba(255, 255, 255, 0.76);
    padding-right: 10px;
    pointer-events: none;
  }
}

@media only screen and(max-width: 1024px) {
  nav > ul {
    flex-flow: column wrap;
    margin-bottom: 8%;
    li {
      line-height: 44px;
      padding: 0 0;
      text-align: center;
    }
    h1 {
      text-align: center;
    }
  }

  #content {
    flex-flow: column wrap;
    padding: 0 20px;
    #image {
      width: 250px;
      height: 250px;
    }
    #image-geology {
      position: absolute;
      background-size: 135px 160px;
      background-repeat: no-repeat;
      width: 200px;
      height: 200px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      transform: translate(35px, -150px) rotate(0deg);
    }
    #text {
      max-width: 40rem;
    }
    #planetName {
      font-size: 35px;
    }
    #planetText1 {
      padding: 4px 0;
    }
  }
  #information {
    h3 {
      padding: 14px;
      font-size: 14px;
    }
  }
}
